<header class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">美点発見</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "ログアウト", destroy_user_session_path, class: "text-sm font-semibold leading-6 text-gray-900", data: { turbo_method: :delete } %></li>
      <li>
        <details>
          <summary>メニュー</summary> <!-- メニューのタイトル -->
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><%= link_to "ホーム", root_path, class: "block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %></li>
            <li><%= link_to "投稿作成", new_post_path, class: "block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %></li>
            <li><%= link_to "美点一覧", posts_path, class: "block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</header>
