<div class="card bg-base-200 shadow-xl mb-3 h-full" id=<%= "post_#{post.id}" %>>
  <div class="card-body p-4 pb-0 lg:px-8 lg:pt-6">
    <div class="flex justify-between items-center"> <!-- フレックスボックスで左右に分ける -->
      <h4 class="text-2xl font-bold"> <!-- 名前はそのまま -->
        <%= link_to post.name, post_path(post) %>
      </h4>
      <div class="flex items-center space-x-4"> <!-- 投稿者名と日時を右側に並べる -->
        <div class="text-sm"><%= post.user.name %></div>
        <div class="text-sm">作成日：<%= l post.created_at, format: :long %></div>
      </div>
    </div>
  </div>
</div>
