<div class="card bg-base-200 shadow-xl mb-3 h-full" id=<%= "post_#{post.id}" %>>
  <div class="card-body p-4 pb-0 lg:px-8 lg:pt-6">
    <h4 class="text-2xl font-bold flex items-center space-x-4"> <!-- フレックスボックスを適用 -->
      <%= link_to post.name, post_path(post) %>
      <div class="text-sm"><i class="bi bi-person"></i> <%= post.user.name %></div> <!-- 投稿者名 -->
      <div class="text-sm"><i class="bi bi-calendar"></i> <%= l post.created_at, format: :short %></div> <!-- 投稿日時 -->
    </h4>
  </div>
</div>
